<ui-dashboard>

    <div class="ui-headling">
        <h2 class="ui-headling__h2">Overview</h2>
        <p class="ui-headling__p">Welcome back, Bella! Your progress is really good. Keep it
            up</p>
    </div>

    <div class="ui-card__list">
        <div class="ui-card">
            <div class="ui-card__info">
                <h3 class="ui-card__info-h3">Total Orders:</h3>
                <p class="ui-card__info-p">15,890</p>
            </div>
            <em class="fa-solid fa-podcast fa-xs ui-card__icon"></em>
        </div>
        <div class="ui-card ui-card--secondary">
            <div class="ui-card__info">
                <h3 class="ui-card__info-h3">Total Orders:</h3>
                <p class="ui-card__info-p">15,890</p>
            </div>
            <em class="fa-solid fa-podcast fa-xs ui-card__icon"></em>
        </div>
        <div class="ui-card ui-card--terciary">
            <div class="ui-card__info">
                <h3 class="ui-card__info-h3">Total Orders:</h3>
                <p class="ui-card__info-p">15,890</p>
            </div>
            <em class="fa-solid fa-podcast fa-xs ui-card__icon"></em>
        </div>
    </div>

    <div class="ui-grid ui-grid--two-columns">

        <div class="ui-table">
            <div class="ui-table__head">
                <h3 class="ui-table__head-title">Films</h3>
                <a href="#" class="ui-table__head-link">View more</a>
            </div>
            <div class="ui-table__body">
                <div class="ui-table__body-item">
                    <h4 class="ui-table__film-name">Sofa</h4>
                    <img src="https://dashboardkit.io/bootstrap/assets/images/widget/p4.jpg" alt="Sofa"
                        class="ui-table__film-img" />
                    <button class="ui-tag ui-tag--success">STOCK</button>
                    <p class="ui-table__film-price">86€</p>
                    <div class="ui-table__film-actions">
                        <em class="fa-solid fa-pen-to-square ui-table__film-actions-edit"></em>
                        <em class="fa-solid fa-trash ui-table__film-actions-trash"></em>
                    </div>
                </div>
                <div class="ui-table__body-item">
                    <h4 class="ui-table__film-name">Sofa</h4>
                    <img src="https://dashboardkit.io/bootstrap/assets/images/widget/p4.jpg" alt="Sofa"
                        class="ui-table__film-img" />
                    <button class="ui-tag ui-tag--danger">NOT STOCK</button>
                    <p class="ui-table__film-price">86€</p>
                    <div class="ui-table__film-actions">
                        <em class="fa-solid fa-pen-to-square ui-table__film-actions-edit"></em>
                        <em class="fa-solid fa-trash ui-table__film-actions-trash"></em>
                    </div>
                </div>
                <div class="ui-table__body-item">
                    <h4 class="ui-table__film-name">Sofa</h4>
                    <img src="https://dashboardkit.io/bootstrap/assets/images/widget/p4.jpg" alt="Sofa"
                        class="ui-table__film-img" />
                    <button class="ui-tag ui-tag--warning">2 ITEMS TOTAL</button>
                    <p class="ui-table__film-price">86€</p>
                    <div class="ui-table__film-actions">
                        <em class="fa-solid fa-pen-to-square ui-table__film-actions-edit"></em>
                        <em class="fa-solid fa-trash ui-table__film-actions-trash"></em>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-table">
            <div class="ui-table__head">
                <h3 class="ui-table__head-title">Films</h3>
            </div>
            <div class="ui-table__body">
                <div class="ui-table__body-item">
                    <h4 class="ui-table__film-name">Sofa</h4>
                    <img src="https://dashboardkit.io/bootstrap/assets/images/widget/p4.jpg" alt="Sofa"
                        class="ui-table__film-img" />
                    <button class="ui-tag ui-tag--success">STOCK</button>
                    <p class="ui-table__film-price">86€</p>
                    <div class="ui-table__film-actions">
                        <em class="fa-solid fa-pen-to-square ui-table__film-actions-edit"></em>
                        <em class="fa-solid fa-trash ui-table__film-actions-trash"></em>
                    </div>
                </div>
                <div class="ui-table__body-item">
                    <h4 class="ui-table__film-name">Sofa</h4>
                    <img src="https://dashboardkit.io/bootstrap/assets/images/widget/p4.jpg" alt="Sofa"
                        class="ui-table__film-img" />
                    <button class="ui-tag ui-tag--success">STOCK</button>
                    <p class="ui-table__film-price">86€</p>
                    <div class="ui-table__film-actions">
                        <em class="fa-solid fa-pen-to-square ui-table__film-actions-edit"></em>
                        <em class="fa-solid fa-trash ui-table__film-actions-trash"></em>
                    </div>
                </div>
                <div class="ui-table__body-item">
                    <h4 class="ui-table__film-name">Sofa</h4>
                    <img src="https://dashboardkit.io/bootstrap/assets/images/widget/p4.jpg" alt="Sofa"
                        class="ui-table__film-img" />
                    <button class="ui-tag ui-tag--success">STOCK</button>
                    <p class="ui-table__film-price">86€</p>
                    <div class="ui-table__film-actions">
                        <em class="fa-solid fa-pen-to-square ui-table__film-actions-edit"></em>
                        <em class="fa-solid fa-trash ui-table__film-actions-trash"></em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-dashboard>
