.ui-chips {

    --ui-chips-background: #333;
    --ui-chips-text-color: #F4F4F4;

    width: fit-content;
    height: max-content;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 2px;
    background-color: var(--ui-chips-background);

    &__title {
        font-size: 12px;
        font-weight: 600;
        line-height: 120%;
        color: var(--ui-chips-text-color);
    }

    &--success {
        --ui-chips-background: #72E3C3;
        --ui-chips-text-color: #084C42; 
    }
    &--warning {
        --ui-chips-background: #F5C26B;
        --ui-chips-text-color: #773B17; 
    }
    &--danger {
        --ui-chips-background: #FBA7A6;
        --ui-chips-text-color: #4B0611; 
    }
    &--neutral {
        --ui-chips-background: #B2C9EF;
        --ui-chips-text-color: #222744; 
    }
}