<ui-dashboard>
    <div class="ui-headling">
        <h2 class="ui-headling__h2">Employees</h2>
        <p class="ui-headling__p">Welcome back, Bella! Your progress is really good. Keep it
            up</p>
    </div>

    <div class="ui-employees">
        <div class="ui-employees__wrapper">
            <!-- ITEM -->
            <div class="ui-employees__card">
                <img src="https://images.unsplash.com/photo-1484863137850-59afcfe05386?auto=format&fit=crop&q=80&w=1742&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="employee" class="ui-employees__card-image" />
                <div class="ui-employees__card__body">
                    <div class="ui-employees__card__wrapper">
                        <h3 title="Virtu" class="ui-employees__card-name">Virtuanista</h3>
                        <div class="ui-employees__card-actions">
                            <em class="fa-solid fa-pen-to-square ui-employees__card-actions-edit"></em>
                            <em class="fa-solid fa-trash ui-employees__card-actions-trash"></em>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //ITEM -->
             <!-- ITEM -->
             <div class="ui-employees__card">
                <img src="https://images.unsplash.com/photo-1484863137850-59afcfe05386?auto=format&fit=crop&q=80&w=1742&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="employee" class="ui-employees__card-image" />
                <div class="ui-employees__card__body">
                    <div class="ui-employees__card__wrapper">
                        <h3 title="Virtu" class="ui-employees__card-name">Virtuanista</h3>
                        <div class="ui-employees__card-actions">
                            <em class="fa-solid fa-pen-to-square ui-employees__card-actions-edit"></em>
                            <em class="fa-solid fa-trash ui-employees__card-actions-trash"></em>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //ITEM -->
             <!-- ITEM -->
             <div class="ui-employees__card">
                <img src="https://images.unsplash.com/photo-1484863137850-59afcfe05386?auto=format&fit=crop&q=80&w=1742&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="employee" class="ui-employees__card-image" />
                <div class="ui-employees__card__body">
                    <div class="ui-employees__card__wrapper">
                        <h3 title="Virtu" class="ui-employees__card-name">Virtuanista</h3>
                        <div class="ui-employees__card-actions">
                            <em class="fa-solid fa-pen-to-square ui-employees__card-actions-edit"></em>
                            <em class="fa-solid fa-trash ui-employees__card-actions-trash"></em>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //ITEM -->
             <!-- ITEM -->
             <div class="ui-employees__card">
                <img src="https://images.unsplash.com/photo-1484863137850-59afcfe05386?auto=format&fit=crop&q=80&w=1742&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="employee" class="ui-employees__card-image" />
                <div class="ui-employees__card__body">
                    <div class="ui-employees__card__wrapper">
                        <h3 title="Virtu" class="ui-employees__card-name">Virtuanista</h3>
                        <div class="ui-employees__card-actions">
                            <em class="fa-solid fa-pen-to-square ui-employees__card-actions-edit"></em>
                            <em class="fa-solid fa-trash ui-employees__card-actions-trash"></em>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //ITEM -->
             <!-- ITEM -->
             <div class="ui-employees__card">
                <img src="https://images.unsplash.com/photo-1484863137850-59afcfe05386?auto=format&fit=crop&q=80&w=1742&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="employee" class="ui-employees__card-image" />
                <div class="ui-employees__card__body">
                    <div class="ui-employees__card__wrapper">
                        <h3 title="Virtu" class="ui-employees__card-name">Virtuanista</h3>
                        <div class="ui-employees__card-actions">
                            <em class="fa-solid fa-pen-to-square ui-employees__card-actions-edit"></em>
                            <em class="fa-solid fa-trash ui-employees__card-actions-trash"></em>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //ITEM -->
        </div>
    </div>
</ui-dashboard>